<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Cars Management System</title>
</head>

<body>
    <header>
        <h1>Car Management System</h1>
    </header>
    <main class="main">
        <section class="getCars">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${cars}">
                    <th scope="row">1</th>
                    <td th:text="${car.getBrand()}"></td>
                    <td th:text="${car.getModel()}"></td>
                    <td th:text="${car.getYear()}"></td><br>
                </tr>
                </tbody>
            </table>
        </section>
        <br>
        <section class="addCar">
            <h3>Add new car:</h3>
            <form th:action="@{add-car}" th:object="${newCar}" method="post">
                <p>Brand: <label>
                    <input type="text" th:field="*{brand}">
                </label></p>
                <p>Model: <label>
                    <input type="text" th:field="*{model}">
                </label></p>
                <p>Year: <label>
                    <input type="text" th:field="*{year}">
                </label></p>
                <p><input type="submit" value="Add car"></p>
            </form>
        </section>
    </main>
</body>

</html>
