<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <title>Cars Management System</title>
</head>

<body>
    <header>
        <h1>Car Management System</h1>
    </header>
    <main class="main">
        <section class="getCars">
            <tr th:each="car: ${cars}">
                <td th:text="${car.getBrand()}"></td>
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getYear()}"></td><br>
            </tr>
        </section>
    </main>
</body>

</html>
