<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Cars Management System</title>
</head>

<body>
    <header>
        <h1>Car Management System</h1>
    </header>
    <main class="main">
        <section class="getCars">
            <tr th:each="car: ${cars}">
                <td th:text="${car.getBrand()}"></td>
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getYear()}"></td><br>
            </tr>
        </section>
        <br>
        <section class="addCar">
            <h3>Add new car:</h3>
            <form th:action="@{add-car}" th:object="${newCar}" method="post">
                <p>Brand: <input type="text" th:field="*{brand}"></p>
                <p>Model: <input type="text" th:field="*{model}"></p>
                <p>Year:  <input type="text" th:field="*{year}"></p>
                <p><input type="submit" value="Add car"></p>
            </form>
        </section>
    </main>
</body>

</html>
